<div class="row">
    <div id="autorsSelect" class="col-sm-6">
        <div class="col-sm-4">
            <select class="form-control" id="courseAuthorsList" ng-model="selected.current" multiple
                    ng-options="e as e[displayAttr] for e in model">
            </select>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default btn-sm btn-block glyphicon glyphicon-chevron-left" ng-click="add()"
                    title="Add selected"
                    ng-disabled="selected.available.length == 0">
            </button>
            <button class="btn btn-default btn-sm btn-block glyphicon glyphicon-chevron-right" ng-click="remove()"
                    title="Remove selected"
                    ng-disabled="selected.current.length == 0">
            </button>
        </div>
        <div class="col-sm-4">
            <select class="form-control" ng-model="selected.available" multiple
                    ng-options="e as e[displayAttr] for e in available"></select>
        </div>
    </div>
</div>