<!DOCTYPE html>
<html ng-app="app">
<head>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide { display: none!important; }
    </style>
    <title ng-bind="title">AngularJs</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=edge; chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <base href="/" />
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet/less" type="text/css" href="/styles/styles.less"/>
    <script src="/bower_components/less/dist/less.js" type="text/javascript"></script>
</head>
<body ng-controller="MainCtrl as main">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="https://www.google.ru/chrome/browser/desktop/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header id="main_header">
    <div class="container content-wrapper clearfix">
        <div class="row header-box">
            <div class="col-md-3 logo">
            </div>
            <div class="col-md-7">
                <ul id="breadcrumb-box" class="breadcrumb" ng-show="$root.title !== 'Login'">
                    <li ng-show="$root.title !== 'Login'">
                        <a href="#/courses"> Курсы</a>
                    </li>
                    <li class="active" ng-show="$root.title === 'Course'">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{main.breadcrumbsTitle}}
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 logoff"  ng-show="main.userInfo.authenticated">
                <div class="row" >
                    <small ng-model="main.userName">{{main.userInfo.userName}}</small>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-link" ng-click="main.logout()">выход</button>
                </div>
            </div>
        </div>
    </div>
</header>
<div ng-view></div>
<footer id="main-footer">
    Copyright &copy 2015
</footer>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/angular-i18n/angular-locale_ru-ru.js"></script>
<script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>

<script src="/app/app.module.js"></script>

<script src="/app/core/core.module.js"></script>
<script src="/app/core/core.config.js"></script>
<script src="/app/core/main.controller.js"></script>
<script src="/app/core/courses.service.js"></script>
<script src="/app/core/author.service.js"></script>
<script src="/app/core/backendservice.js"></script>
<script src="/app/core/app.constants.js"></script>


<script src="/app/authentication/authentication.module.js"></script>
<script src="/app/authentication/authentication.config.js"></script>
<script src="/app/authentication/authentication.interceptor.js"></script>
<script src="/app/authentication/authservice.js"></script>
<script src="/app/authentication/login.controller.js"></script>


<script src="/app/courses/courses.module.js"></script>
<script src="/app/courses/courses.controller.js"></script>


<script src="/app/course/course.module.js"></script>
<script src="/app/course/course.controller.js"></script>
<script src="/app/course/course.directive.js"></script>
<script src="/app/course/duration.directive.js"></script>
<script src="/app/course/modalservice.js"></script>
<script src="/app/course/datefield.directive.js"></script>
<script src="/app/course/multiselect.directive.js"></script>


<script src="/app/filters/search.filter.js"></script>
<script src="/app/filters/duration.filter.js"></script>


</body>
</html>
